#profileCard {
    justify-self: center;
    width: 50%;
    border: #344bb3 solid 0.2em;
    border-radius: 1rem;
    padding: 1rem;
    font-family: Chalkduster, Helvetica, sans-serif;
    font-size: 23;
    color: white;
    font-weight: 100;
}

#profileCard img {
    width: 100%;
}

body {
    background-color: #010829; 
    color: white;            
}