#profileCard {
    justify-self: center;
    width: 50%;
    border: black solid 0.2em;
    border-radius: 1rem;
    padding: 1rem;
}

#profileCard img {
    width: 100%;
}

body {
    background-color: #1e1e1e; 
    color: white;            
}

#fun_facts {
    background-color: aliceblue;
    color: black;   
}