body {
    background-color: #010829;
    border: #344bb3 solid 0.2em;
    color: white;
    text-align: center;
    font-family: Chalkduster, Helvetica, sans-serif;
}

#Kendall {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#Kendall img {
    width: 300px;
}

#Kendall img:hover {
    transform: scale(1.1);
}

ol {
    display: inline-block;
    text-align: left;
}

